[Desktop Entry]
Version=1.0
Type=Application
Name=Random Passwords
Comment=Simple password generator
Exec=/usr/bin/random-passwords
Icon=/usr/share/icons/hicolor/128x128/apps/random-passwords.png
Terminal=false
Categories=Utility;
